.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: max-content;
    position: relative;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.topHeadingContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.topHeading{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: 0 0 10px #000;
}

.topPara{
    color: gray;
    font-size: 7px;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: 0 0 10px #000;
    text-align: center;
}

.newArrivalsContainer{
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
    gap: 2rem;
}

.productContainer{
    display: flex;
    width: 16rem;
    height: 23rem;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px;
    position: relative;
    box-shadow: -1px 1px 10px 0px #000;
    border-radius: 10px;
    box-sizing: content-box;
}

.productImageContainer{
    display: flex;
    width: 100%;
    height: 19rem;
    align-items: center;
    justify-content: center;
    position: relative;
}

.productImageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.productDetailsContainer{
    display: flex;
    width: 100%;
    height: 3rem;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding-left: 2rem;
}

.productName{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: start;
}

.productPrice{
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: 0 0 5px #000;
    text-align: start;
}

.productDetailAndCartContainer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.productDetailsContainer{
    display: flex;
    width: 100%;
    height: 3rem;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding-left: 1rem;
}

.addToCartContainer{
    padding-right: 1rem;
}